[submodule "stable-diffusion-grpcserver"]
	path = stable-diffusion-grpcserver
	url = https://github.com/hafriedlander/stable-diffusion-grpcserver.git
[submodule "g-diffuser"]
	path = g-diffuser
	url = https://github.com/parlance-zz/g-diffuser-bot.git
	branch = aio
